<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Beteiligung</p-tab>
    <p-tab value="1">Meisterschaft</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-basetable
        [tableOptions]="cols"
        [tableData]="lstEvents"
        [tableToolbar]="toolbar"
        localStorage="adresse_events"
        [editable]="false"
        [diffCalcHight]="500"
      >
      </app-basetable>
    </p-tabpanel>
    <p-tabpanel value="1">
      <app-basetable
        [tableOptions]="colsM"
        [tableData]="lstMeister"
        [tableToolbar]="toolbarM"
        localStorage="adresse_meister"
        [editable]="false"
        [diffCalcHight]="500"
      >
      </app-basetable>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
