<p-scrollPanel [style]="{ width: '100%', height: '80%' }">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="save(f)">
    <div class="card">
      <div class="grid grid-cols-1 md:grid-cols-12 gap-x-4 gap-y-4">
        <!-- Geschlecht -->
        <div class="flex flex-col md:col-span-6">
          <label for="geschlecht" class="mb-1 font-medium">Geschlecht</label>
          <p-selectButton
            [options]="lstGeschlecht()"
            [(ngModel)]="adresse.geschlecht"
            optionLabel="name"
            optionValue="code"
            name="geschlecht"
            id="geschlecht"
            #geschlect="ngModel"
            required
          ></p-selectButton>
        </div>

        <!-- MNR -->
        <div class="flex flex-col md:col-span-6">
          <label for="mnr" class="mb-1 font-medium">MNR</label>
          <input
            id="mnr"
            [disabled]="true"
            pInputText
            class="w-full"
            [(ngModel)]="adresse.mnr"
            name="mnr"
          />
        </div>

        <!-- Vorname -->
        <div class="flex flex-col md:col-span-6">
          <label for="vorname" class="mb-1 font-medium">Vorname</label>
          <input
            type="text"
            id="vorname"
            pInputText
            name="vorname"
            #vorname="ngModel"
            minlength="3"
            required
            class="w-full"
            [(ngModel)]="adresse.vorname"
          />
        </div>

        <!-- Nachname -->
        <div class="flex flex-col md:col-span-6">
          <label for="name" class="mb-1 font-medium">Nachname</label>
          <input
            type="text"
            id="name"
            pInputText
            class="w-full"
            name="name"
            #name="ngModel"
            minlength="3"
            required
            [(ngModel)]="adresse.name"
          />
        </div>

        <!-- Strasse -->
        <div class="flex flex-col md:col-span-12">
          <label for="adresse" class="mb-1 font-medium">Strasse</label>
          <input
            type="text"
            id="adresse"
            pInputText
            name="strasse"
            #strasse="ngModel"
            minlength="3"
            required
            class="w-full"
            [(ngModel)]="adresse.adresse"
          />
        </div>

        <!-- PLZ -->
        <div class="flex flex-col md:col-span-4">
          <label for="plz" class="mb-1 font-medium">PLZ</label>
          <input
            type="number"
            id="plz"
            pInputText
            class="w-full"
            name="plz"
            #plz="ngModel"
            minlength="4"
            required
            [(ngModel)]="adresse.plz"
          />
        </div>

        <!-- Ort -->
        <div class="flex flex-col md:col-span-8">
          <label for="ort" class="mb-1 font-medium">Ort</label>
          <input
            type="text"
            id="ort"
            pInputText
            class="w-full"
            name="ort"
            #ort="ngModel"
            minlength="3"
            required
            [(ngModel)]="adresse.ort"
          />
        </div>

        <!-- Email -->
        <div class="flex flex-col md:col-span-4">
          <label for="email" class="mb-1 font-medium">Email</label>
          @if (adresse.email) {
            <p-iconfield>
              <input
                type="text"
                id="email"
                pInputText
                minlength="5"
                class="w-full"
                [(ngModel)]="adresse.email"
                #email="ngModel"
                name="email"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$"
              />
              <p-inputicon
                class="pi pi-send cursor-pointer"
                (click)="sendEmail()"
              />
            </p-iconfield>
          } @else {
            <input
              type="text"
              id="email"
              pInputText
              minlength="5"
              class="w-full"
              [(ngModel)]="adresse.email"
              #email="ngModel"
              name="email"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$"
            />
          }
        </div>

        <!-- Telefon -->
        <div class="flex flex-col md:col-span-4">
          <label for="phone" class="mb-1 font-medium">Telefon</label>
          <input
            type="text"
            id="phone"
            pInputText
            name="phone"
            class="w-full"
            [(ngModel)]="adresse.telefon_p"
          />
        </div>

        <!-- Mobil -->
        <div class="flex flex-col md:col-span-4">
          <label for="mobil" class="mb-1 font-medium">Mobil</label>
          <input
            type="text"
            id="mobil"
            pInputText
            name="mobil"
            class="w-full"
            [(ngModel)]="adresse.mobile"
          />
        </div>

        <!-- Checkboxen -->
        <div class="md:col-span-12 flex flex-wrap items-center gap-x-6 gap-y-3">
          <div class="flex items-center gap-2">
            <input
              type="checkbox"
              id="sam"
              [(ngModel)]="adresse.sam_mitglied"
              name="sam"
            />
            <label for="sam">SAM-Mitglied</label>
          </div>
          @if (adresse.sam_mitglied) {
            <input
              type="text"
              pInputText
              [(ngModel)]="adresse.mnr_sam"
              name="samnr"
              placeholder="SAM-Nr."
              class="w-40"
            />
          }
          <div class="flex items-center gap-2">
            <input
              type="checkbox"
              id="allianz"
              [(ngModel)]="adresse.allianz"
              name="allianz"
            />
            <label for="allianz">Allianz</label>
          </div>
          <div class="flex items-center gap-2">
            <input
              type="checkbox"
              id="vorstand"
              [(ngModel)]="adresse.vorstand"
              name="vorstand"
            />
            <label for="vorstand">Vorstand</label>
          </div>
          <div class="flex items-center gap-2">
            <input
              type="checkbox"
              id="revisor"
              [(ngModel)]="adresse.revisor"
              name="revisor"
            />
            <label for="revisor">Revisor</label>
          </div>
        </div>

        <!-- Eintritt -->
        <div class="flex flex-col md:col-span-6">
          <label for="eintritt" class="mb-1 font-medium">Eintritt</label>
          <p-datepicker
            dateFormat="dd.mm.yy"
            inputId="eintritt"
            name="eintritt"
            styleClass="w-full"
            [(ngModel)]="adresse.eintritt_date"
          ></p-datepicker>
        </div>

        <!-- Austritt -->
        <div class="flex flex-col md:col-span-6">
          <label for="austritt" class="mb-1 font-medium">Austritt</label>
          <p-datepicker
            dateFormat="dd.mm.yy"
            inputId="austritt"
            name="austritt"
            styleClass="w-full"
            [(ngModel)]="adresse.austritt_date"
          ></p-datepicker>
        </div>

        <!-- Notizen -->
        <div class="flex flex-col md:col-span-12">
          <label for="notes" class="mb-1 font-medium">Notizen</label>
          <textarea
            [(ngModel)]="adresse.notes"
            id="notes"
            [rows]="5"
            name="notes"
            class="w-full p-2 border rounded"
          ></textarea>
        </div>

        <!-- Geworben von -->
        <div class="flex flex-col md:col-span-12">
          <label for="geworben" class="mb-1 font-medium">Geworben von</label>
          <p-select
            inputId="geworben"
            [options]="dlstFKAdressen()"
            optionLabel="value"
            optionValue="id"
            [filter]="true"
            filterBy="value"
            [showClear]="true"
            name="geworben"
            styleClass="w-full md:w-2/3"
            [(ngModel)]="adresse.adressenid"
          ></p-select>
        </div>
      </div>
    </div>
  </form>
</p-scrollPanel>
<p-toolbar>
  <div class="flex flex-wrap items-center gap-2">
    <button
      pButton
      type="button"
      label="Zurück"
      icon="pi pi-back"
      class="p-button-secondary p-button-outlined"
      (click)="back()"
    ></button>
    @if (adresse.sam_mitglied) {
      <button
        pButton
        type="button"
        label="SAM Adressänderung"
        icon="pi pi-send"
        class="p-button-secondary p-button-outlined"
        (click)="emailSAM(f)"
      ></button>
    }
    @if (
      adresse.sam_mitglied && adresse.austritt_date?.getFullYear() !== 3000
    ) {
      <button
        pButton
        type="button"
        label="SAM Austritt"
        icon="pi pi-send"
        class="p-button-secondary p-button-outlined"
        (click)="emailSAMAustritt(f)"
      ></button>
    }
    @if (adresse.austritt_date?.getFullYear() === 3000) {
      <button
        pButton
        type="button"
        label="leeres Datenblatt"
        icon="pi pi-file-excel"
        class="p-button-secondary p-button-outlined"
        (click)="exportEmpty()"
      ></button>
    }
    @if (adresse.austritt_date?.getFullYear() === 3000) {
      <button
        pButton
        type="button"
        label="volles Datenblatt"
        icon="pi pi-file-export"
        class="p-button-secondary p-button-outlined"
        (click)="exportFull()"
      ></button>
    }
    <button
      pButton
      type="button"
      label="Sichern"
      icon="pi pi-save"
      class="p-button-primary p-button-outlined"
      (click)="save(f)"
    ></button>
  </div>
</p-toolbar>
