<p-toast key="local"></p-toast>
<div class="mb-1">
  @if (checkFiltering()) {
    <button
      pButton
      label="Clear"
      class="p-button-secondary p-button-outlined mb-1"
      icon="pi pi-filter-slash"
      (click)="clear(basetable)"
    ></button>
  }
  @for (but of tableToolbar(); track but; let ind = $index) {
    <button
      pButton
      [label]="but.label!"
      [icon]="but.icon!"
      [ngClass]="but.btnClass! + ' mb-1'"
      (click)="clickOnToolbar(ind)"
      [disabled]="isButtonDisabled(ind)"
    ></button>
  }
</div>
<p-table
  #basetable
  [columns]="tableOptions()"
  styleClass=" p-datatable-striped"
  [value]="tableData()"
  selectionMode="single"
  [selection]="selectedRecord()"
  (selectionChange)="selectedRecord.set($event)"
  (onFilter)="filterEvent($event)"
  dataKey="id"
  sortMode="multiple"
  [scrollHeight]="objHeight$()"
  [scrollable]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  [stateKey]="localStorage()"
  stateStorage="local"
  showGridlines
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      @for (col of columns; track col) {
        <th
          [pSortableColumnDisabled]="!col.sortable"
          [pSortableColumn]="col.field"
        >
          {{ col.header }}
          @if (col.sortable) {
            <p-sortIcon field="col.field"></p-sortIcon>
          }
          @if (col.filtering) {
            <p-columnFilter
              [field]="col.field"
              [type]="col.filter"
              display="menu"
            ></p-columnFilter>
          }
        </th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data let-columns="columns">
    <tr [pSelectableRow]="data" (dblclick)="selectData(data)">
      @for (col of columns; track col) {
        <td [class]="data.classRow">
          @if (col.filter === "boolean") {
            <div class="p-text-secondary text-center font-bold">
              @if (data[col.field]) {
                <i class="pi pi-check"></i>
              }
            </div>
          }
          @if (col.pipe) {
            <div class="text-right">
              {{ data[col.field] | dynamicPipe: col.pipe : col.args }}
            </div>
          }
          @if (col.format && formatFunction()) {
            <div>
              {{ formatFunction()!(col.field, data[col.field]) }}
            </div>
          }
          @if (
            col.format === false &&
            col.filter !== "boolean" &&
            col.pipe === undefined
          ) {
            <div>
              {{ data[col.field] }}
            </div>
          }
        </td>
      }
      @if (editable()) {
        <td>
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-file-edit"
            (click)="editData(data)"
          ></button>
        </td>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [colSpan]="tableOptions().length">Keine Datensaätze gefunden.</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex items-center justify-between">
      {{ tableData() ? tableData().length : 0 }} Datensätze.
    </div>
  </ng-template>
</p-table>
