<p-toast key="local"></p-toast>
<p-toolbar>
  <button
    pButton
    type="button"
    label="Zurück"
    icon="pi pi-back"
    class="p-button-secondary p-button-outlined"
    (click)="back()"
  ></button>
</p-toolbar>
<p-splitter [panelSizes]="[40, 60]" class="mb-1">
  <ng-template pTemplate>
    <div
      class="card border-0"
      [style]="'width: 100%; height: ' + objHeight$() + ';'"
      id="table-box"
    >
      <div class="row w-full mb-3 p-1 border-1 border-round">
        <label for="gaeste" class="mr-2 mb-1">Gäste</label>
        <input
          type="number"
          id="gaeste"
          class="wurf mb-1"
          [(ngModel)]="anlass.gaeste"
        />
        <button
          pButton
          type="button"
          label="Sichern"
          icon="pi pi-save"
          class="p-button-secondary p-button-outlined ml-6"
          (click)="saveGaeste()"
        ></button>
      </div>
      <div class="row w-full">
        <p-table
          class=" p-datatable-striped"
          [value]="lstMeisterschaft()"
          showGridlines
          selectionMode="single"
          [(selection)]="selMeisterschaft"
          dataKey="id"
          [scrollHeight]="objHeightE$()"
          [virtualScroll]="true"
          [virtualScrollItemSize]="36"
          [tableStyle]="{ 'min-width': '100%' }"
          (onRowSelect)="selTeilnehmerTable()"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>
                {{ lstMeisterschaft() ? lstMeisterschaft().length : 0 }}
                Teilnehmer
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr style="height: 36px" [pSelectableRow]="data">
              <td>{{ data.punkte }} - {{ data.adressen.fullname }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="row w-full mt-1">
        <button
          pButton
          type="button"
          label="Löschen"
          icon="pi pi-file-delete"
          class="p-button-secondary p-button-outlined"
          (click)="deleteEntry()"
          [disabled]="!selMeisterschaft"
        ></button>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="card" [style]="'width: 100%; height: ' + objHeight$() + ';'">
      <form [formGroup]="fgMeisterschaft" autocomplete="off">
        <div class="flex items-center flex-wrap">
          <div class="mb-4 pb-2">
            <label for="teilnehmer" class="pr-2">Teilnehmer wählen</label>
            <p-autoComplete
              #teilnehmername
              id="teilnehmername"
              formControlName="teilnehmername"
              [suggestions]="lstFilteredAdressen()"
              (completeMethod)="searchTeilnehmer($event)"
              optionLabel="fullname"
              dataKey="fullname"
              [dropdown]="true"
              (onSelect)="selectTeilnehmer($event.value)"
              (keydown.tab)="onTeilnehmerTab($event)"
              [forceSelection]="true"
              [autofocus]="true"
            >
            </p-autoComplete>
          </div>
          <div class="mb-4 pb-2 w-full md:w-full">
            <label for="punkte" class="pr-2">Punkte</label>
            <input
              type="number"
              id="punkte"
              formControlName="punkte"
              class="wurf input-styling"
            />
            @if (punkte.invalid && (punkte.dirty || punkte.touched)) {
              <div class="alert alert-danger">
                @if (punkte.errors?.["required"] || punkte.errors?.["min"]) {
                  <div>Punkte müssen angegeben sein.</div>
                }
                @if (punkte.errors?.["max"]) {
                  <div>Maximal 200 Punkte sind erlaubt</div>
                }
              </div>
            }
          </div>
          @if (anlass.istkegeln) {
            <div>
              <div class="mb-4">
                <label>Würfe</label>
              </div>
              <div class="mb-4">
                <input
                  type="number"
                  id="wurf1"
                  formControlName="wurf1"
                  [min]="0"
                  [max]="9"
                  class="wurf input-styling pr-1"
                  (input)="inputWurf(1)"
                />
                <input
                  type="number"
                  id="wurf2"
                  formControlName="wurf2"
                  [min]="0"
                  [max]="9"
                  class="wurf input-styling pr-1"
                  (input)="inputWurf(2)"
                />
                <input
                  type="number"
                  id="wurf3"
                  formControlName="wurf3"
                  [min]="0"
                  [max]="9"
                  class="wurf input-styling pr-1"
                  (input)="inputWurf(3)"
                />
                <input
                  type="number"
                  id="wurf4"
                  formControlName="wurf4"
                  [min]="0"
                  [max]="9"
                  class="wurf input-styling pr-1"
                  (input)="inputWurf(4)"
                />
                <input
                  type="number"
                  id="wurf5"
                  formControlName="wurf5"
                  [min]="0"
                  [max]="9"
                  class="wurf input-styling pr-1"
                  (input)="inputWurf(5)"
                />
                <input
                  type="number"
                  id="zusatz"
                  formControlName="zusatz"
                  class="wurf input-styling pr-1"
                />
              </div>
              @if (wurf1.invalid && (wurf1.dirty || wurf1.touched)) {
                <div class="alert alert-danger">
                  @if (wurf1.errors?.["min"]) {
                    <div>Wurf darf nicht kleiner als 0 sein.</div>
                  }
                  @if (wurf1.errors?.["max"]) {
                    <div>Maximal 9 je Wurf sind erlaubt</div>
                  }
                </div>
              }
              @if (wurf2.invalid && (wurf2.dirty || wurf2.touched)) {
                <div class="alert alert-danger">
                  @if (wurf2.errors?.["min"]) {
                    <div>Wurf darf nicht kleiner als 0 sein.</div>
                  }
                  @if (wurf2.errors?.["max"]) {
                    <div>Maximal 9 je Wurf sind erlaubt</div>
                  }
                </div>
              }
              @if (wurf3.invalid && (wurf3.dirty || wurf3.touched)) {
                <div class="alert alert-danger">
                  @if (wurf3.errors?.["min"]) {
                    <div>Wurf darf nicht kleiner als 0 sein.</div>
                  }
                  @if (wurf3.errors?.["max"]) {
                    <div>Maximal 9 je Wurf sind erlaubt</div>
                  }
                </div>
              }
              @if (wurf4.invalid && (wurf4.dirty || wurf4.touched)) {
                <div class="alert alert-danger">
                  @if (wurf4.errors?.["min"]) {
                    <div>Wurf darf nicht kleiner als 0 sein.</div>
                  }
                  @if (wurf4.errors?.["max"]) {
                    <div>Maximal 9 je Wurf sind erlaubt</div>
                  }
                </div>
              }
              @if (wurf5.invalid && (wurf5.dirty || wurf5.touched)) {
                <div class="alert alert-danger">
                  @if (wurf5.errors?.["min"]) {
                    <div>Wurf darf nicht kleiner als 0 sein.</div>
                  }
                  @if (wurf5.errors?.["max"]) {
                    <div>Maximal 9 je Wurf sind erlaubt</div>
                  }
                </div>
              }
              <div class="mb-4 pb-2">
                <label for="total" class="pr-2">Total</label>
                <input
                  type="number"
                  id="total"
                  formControlName="total"
                  class="wurf input-styling pr-1"
                />
              </div>
            </div>
          }
        </div>
        <div class="mb-4 w-full md:w-full md:mb-0">
          <button
            pButton
            type="submit"
            label="Sichern"
            icon="pi pi-save"
            [disabled]="teilnehmername.value === null"
            class="p-button-primary p-button-outlined"
            id="save"
            (click)="save()"
          ></button>
          <button
            pButton
            type="reset"
            label="Reset"
            icon="pi pi-reset"
            [disabled]="teilnehmername.value === null"
            class="p-button-secondary p-button-outlined"
            id="reset"
            (click)="reset()"
          ></button>
        </div>
      </form>
    </div>
  </ng-template>
</p-splitter>
